/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

html {
    scroll-behavior: smooth;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--- Navigation Bar ---*/
nav {
    position: sticky;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff4f3;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

nav ul li {
    display: inline-block;
    margin: 20px 10px;
    font-size: 20px;
    transition: 0.2s;
    padding: 5px 20px;
    border-radius: 20px;
}

nav ul li:hover {
    scale: 1.1;
    transition: 0.2s;
    background-color: #e77f67;
    cursor: pointer;
    color: aliceblue;
}


/*--- Home Page ---*/

.homePage {
    width: 100%;
    display: flex;
}

.ProfilePhoto {
    width: 50%;
}

.image {
    width: fit-content;
}

.image img {
    width: 50%;
    border-radius: 50%;
    border: 10px solid #e77f67;
    margin-left: 25%;
    margin-top: 15%;
    margin-bottom: 15%;
    transition: 0.2s;
}

.image img:hover {
    scale: 1.1;
    transition: 0.2s;
}


.Profiledetails {
    width: 50%;
    height: 650px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.details {
    width: 70%;
    margin-left: 20%;
    margin-top: 20%;
}

.details h5 {
    font-size: 30px;
    color: #87848a;
    margin-bottom: 2%;
}

.details h2 {
    font-size: 40px;
    margin-bottom: 2%;
}

.details p {
    font-size: 120%;
    color: #87848a;
    margin-top: 2%;
}

.details b {
    font-weight: bold;
}

.HomeButton button {
    margin-top: 3%;
    width: 25%;
    height: 40px;
    text-align: center;
    color: #e77f67;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
    font-weight: bold;
    border: 3px solid #e77f67;
}

.HomeButton button:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #e77f67;
    color: white;
}









































.icon {
    margin-top: 3%;
}

.icon img {
    width: 6%;
    margin-right: 2%;
}

.icon img:hover {
    scale: 1.1;
    transition: 0.2s;
    cursor: pointer;
}